body {
  overflow: hidden;
  scroll-behavior: smooth;
  background: rgb(239, 239, 239);
}
#smooth-wrapper {
  position: relative;
  height: auto;  /* 允许内容扩展 */
  min-height: 100vh;
  overflow: hidden;
  position: fixed;
  width: 100%;
  z-index: 2;
}
#smooth-content {
  overflow: visible;
  width: 100%;
  will-change: transform;

}
/* 背景层 */
#smooth-wrapper2 {
  height: 1100vh;
  overflow: hidden;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1; /* 在底层 */
}

#smooth-content2 {
  overflow: visible;
  width: 100%;
  will-change: transform;
}



a {
  text-decoration: none;
}

@font-face {
  font-family: 'vivoSans-bold';
  src: url('./assets/fonts/vivoSansGlobal-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'vivoSans-light';
  src: url('./assets/fonts/vivoSansGlobal-Light.ttf') format('truetype');

}
@font-face {
  font-family: 'vivoSans-regular';
  src: url('./assets/fonts/vivoSansGlobal-Regular.ttf') format('truetype');
}

/* 加载界面 */
.loader {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  margin: none;
  background-color: #e1dedf;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
  font-size: 16px;
  top: 0;
  left: 0;
}

.progress {
  position: absolute;
  top: 60%;
  width: 50%;
  height: 1px;
  background: #415FFF;
	transition: transform 0.1s;
  transform-origin: left;
	z-index: 10;
  margin: 0 5%;
}

/* HEADER SECTION */
.header{
  position: absolute;
  z-index: 4;
  display: flex;
  width: 100%;
  justify-content: center;
}

.header--container{
  display: flex;
  width: 80vw;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
}

.header--brand{
  width: 140px;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.header--menu {
  display: inline-flex;
  gap: 1em;
  align-items: center;

}

.header--menu li{
  padding: 10px 30px;
  color: #415FFF;;
  transition: all .6s ease-in-out;
  font-family: 'vivoSans-regular';
  border-radius: 50px;
  pointer-events: all;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  list-style: none;
}

.header--menu li:hover{
  padding: 10px 30px;
  background: #415FFF;
  color: white;

}


.section{
  position: relative;
  display: flex;
  width: 100%;
  height: 100vh;
  align-content: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  scroll-snap-align: start;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  scroll-snap-align: start;
}


.hero--container{
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 80%;
  margin-left: 300px;
  margin-top: 100px;
  z-index: 2;
}


.hero--content h1{
  position: absolute;
  top: -320px;
  width: 280px;
  height: 76px;
  font-family: 'vivoSans-bold';
  font-size: 300px;
  line-height: 76px;
  letter-spacing: -0.01em;
  color: #415FFF;
  margin-bottom: 60px;
}

.hero--content > h2{
  position: absolute;
  top: -50px;
  left: 200px;
  text-align: right;
  margin-right: 5px;
  margin-bottom: 0px;
  font-family: 'vivoSans-light';
  font-weight: 500;
  font-size: 40px;
}

.hero--content > p{
  font-family: 'vivoSans-regular';
  font-size: 120px;
  line-height: 22px;
  letter-spacing: -0.04em;
  margin-bottom: 50px;
}

.button{
  width: 194px;
  height: 60px;
  left: 134px;
  top: 600px;
  border: none;
  background-image: linear-gradient(9deg, #415FFF, #0087CD);
  border-radius: 58px;
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 20px;
  display: flex;
  align-items: center;
  letter-spacing: -0.02em;
  color: #FFFFFF;
  padding: 10px;
  transition: all 0.8s ease-in-out;
  background-position: 0 -30px;
  background-size: 100% 90px;
  background-repeat: repeat-x repeat-y;
}

.button:hover{
  background-image: linear-gradient(9deg, #415FFF, #0087CD);
  box-shadow: 0px 6px 20px #415FFF;
  transform: translateY(-3px);
  cursor: pointer;
  background-position: 0 0;
}


.bounce {

  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(-5px);
  }
}
.hero--scroller--container{
  bottom: -2%;
  justify-content: center;
  align-items: center;
  width: 170px;
  align-content: center;
  flex-direction: column;
  position: absolute;
  text-align: center;
  align-content: center;
  line-height: 3.2em;
  color: grey;
  overflow: hidden;
}

.hero--scroller{
  opacity: 0;
}

/* video SECTION */

.video--container{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 80%;
  z-index: 3;
}

.video--content{
  width: 920px;
  position: absolute;
  left: 85%;
  opacity: 0;
}

.video--content p{
  line-height: 50px;
  font-family: 'vivoSans-regular';
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.video--content strong{
  color: #415FFF;
}
.video--container.fixed{
  position: fixed;
  top: 50%
}

#cover-image{
  cursor: pointer;
  width: 400px;
  border-radius: 10px;
}
.logo{
  cursor: pointer;
  border-radius: 10px;
  width: 500px;
}
.video--content svg{
  width: 50px;
}

.video--content h1{
  position: absolute;
  top: 88%;
  left: 7%;
  font-family: 'vivoSans-light';
  font-size: 20px;
}

/* 全屏视频层 */
#fullscreen-video {
  position: fixed;
  top: 100vh;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: black;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* 加载动画 */
#loading-spinner {
  width: 50px;
  height: 50px;
  border: 6px solid #fff;
  border-top: 6px solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  z-index: 1;
}

@keyframes spin {
  0% { transform: rotate(0deg);}
  100% { transform: rotate(360deg);}
}

/* 视频样式 */
#fullscreen-video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.8s ease;
}

/* 退出按钮 */
#exit-button {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 2rem;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 2; /* 在loading和video上面 */
  transition: background 0.3s;
}

#exit-button:hover {
  background: rgba(255, 255, 255, 0.3);
}

.design--container1{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  z-index: 4;
}

.design--content1{
  position: absolute;
  top: -5%;
  left: 1.5%;
  width: 1000px;
}
.design--content1 h1{
  font-family: 'vivoSans-bold';
  font-size: 100px;
  background-image: linear-gradient(9deg, #415FFF, #0087CD);
  background-clip: text;
  color: black;
  transition: all 0.8s ease-in-out;
}

.design--content1 strong{
  color: #415FFF;
  transition: all 0.8s ease-in-out;
}

.design--content1 strong:hover{
  background-image: linear-gradient(9deg, #415FFF, #0087CD);
  background-clip: text;
  color: #415eff00;
  transition: all 0.8s ease-in-out;
}

.design--container2{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  left: -10%;
  z-index: 3;
}

.design--content2{
  width: 1000px;
}

.design--content2 h1{
  position: absolute;
  top: 65%;
  left: 9.5%;
  font-family: 'vivoSans-bold';
  font-size: 90px;
  background-image: linear-gradient(9deg, #415FFF, #0087CD);
  background-clip: text;
  color: #415FFF;
  transition: all 0.8s ease-in-out;
}

.design--content2 h1:hover{
  background-image: linear-gradient(9deg, #415FFF, #0087CD);
  background-clip: text;
  color: #415eff00;
  transition: all 0.8s ease-in-out;
}
.design--content2 p{
  position: absolute;
  top: 85%;
  left: 37%;
  font-family: 'vivoSans-regular';
  font-size: 40px;
  color: #acacac;
}


.view4--container1{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  background-clip: text;
  background-image: linear-gradient(9deg, #415FFF, #0087CD);
  z-index: 3;
}

.view4--line{
  position: absolute;
  top: 16%;
  left: 58.5%;
  width: 1.5px;
  height: 270px;
  background: #707070;
}

.view4--content1{
  position: absolute;
  top: 10%;
  left: 60.5%;
  width: 1000px;
}
.view4--content1 h1{
  font-family: 'vivoSans-bold';
  font-size: 40px;
  background-clip: text;
  background-image: linear-gradient(9deg, #707070, #ffffff);
  color: rgba(255, 255, 255, 0);
}

.view4--content1 p{
  margin-top: -3%;
  font-family: 'vivoSans-regular';
  font-size: 20px;
  background-clip: text;
  background-image: linear-gradient(9deg, #707070, #ffffff);
  color: rgba(0, 0, 0, 0.3);
}

.view5--container1{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  background-clip: text;
  background-image: linear-gradient(9deg, #415FFF, #0087CD);
  z-index: 3;
}

.view5--line{
  position: absolute;
  top: 16%;
  left: 47%;
  width: 1px;
  height: 270px;
  background: #707070;
}

.view5--content1{
  position: absolute;
  top: 10%;
  left: 48.5%;
  width: 1000px;
}
.view5--content1 h1{
  font-family: 'vivoSans-bold';
  font-size: 40px;
  background-clip: text;
  background-image: linear-gradient(9deg, #707070, #ffffff);
  color: rgba(255, 255, 255, 0);
}

.view5--content1 p{
  margin-top: -3%;
  font-family: 'vivoSans-regular';
  font-size: 20px;
  background-clip: text;
  background-image: linear-gradient(9deg, #707070, #ffffff);
  color: rgba(0, 0, 0, 0.3);
}

.view6--container1{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  background-clip: text;
  background-image: linear-gradient(9deg, #415FFF, #0087CD);
  z-index: 3;
}

.view6--line{
  position: absolute;
  top: 25%;
  left: 46.7%;
  width: 1px;
  height: 270px;
  background: #707070;
}

.view6--content1{
  position: absolute;
  top: 19%;
  left: 48.2%;
  width: 1000px;
}
.view6--content1 h1{
  font-family: 'vivoSans-bold';
  font-size: 40px;
  background-clip: text;
  background-image: linear-gradient(9deg, #707070, #ffffff);
  color: rgba(255, 255, 255, 0);
}

.view6--content1 p{
  margin-top: -3%;
  font-family: 'vivoSans-regular';
  font-size: 20px;
  background-clip: text;
  background-image: linear-gradient(9deg, #707070, #ffffff);
  color: rgba(0, 0, 0, 0.3);
}

.view7--container1{
  position: absolute;
  display: flex;
  width: 100%;
  z-index: 4;
  left: -240px;
}

.view7--content1{
  position: absolute;
  width: 1000px;
}

.view7--content1 h1{
  position: absolute;
  top: 150px;
  left: -70px;
  font-family: 'vivoSans-bold';
  font-size: 90px;
}

.view7--content1 strong{
  background-clip: text;
  background-image: linear-gradient(9deg, #415FFF, #0087CD);
  color: #415eff00;
}
.view7--content2 h1{
  position: absolute;
  left: 400px;
  font-family: 'vivoSans-bold';
  font-size: 90px;
}
.view7--content2 strong{
  background-clip: text;
  background-image: linear-gradient(9deg, #707070, #ffffff);
  color: rgba(0, 0, 0, 0.3);
  
}

.view8--container1{
  position: absolute;
  display: flex;
  width: 100%;
  z-index: 4;
  top: -400px;
  opacity: 0;
  justify-content: center;

}
.view8--content1 h1,h2{
  font-family: 'vivoSans-bold';
  margin-bottom: -100px;
  font-size: 70px;
}

.view8--content1 h1 strong{
  color: #0F2EB5;
}
.view8--content1 h2 strong{
  color: #FE0102;
}
.view8--content2{
  opacity: 1;
  top: 37%;
  left: 0%;
  position: absolute;
  display: flex;
  width: 100%;
  height: 500px;
  z-index: 4;
  font-family: 'vivoSans-regular';
  justify-content: center;
  transition: 0.5s;

}
svg{
  font-family: 'vivoSans-regular';
  color: #707070;
  overflow: visible;
}

.view9--container1{
  position: absolute;
  display: flex;
  width: 100%;
  z-index: 4;
  top: 30%;
  left: 80%;
  opacity: 1;
}
.view9--container1 h1{
  position: absolute;
  top: -200px;
  font-family: 'vivoSans-bold';
  font-size: 50px;
  background-clip: text;
  background-image: linear-gradient(9deg, #707070, #ffffff);
  color: rgba(0, 0, 0, 0);
}
.view9--container1 strong{
  color: #415FFF;
}
.view9--container1 h2{
  position: absolute;
  top: -130px;
  font-family: 'vivoSans-bold';
  font-size: 50px;
  background-clip: text;
  background-image: linear-gradient(9deg, #707070, #ffffff);
  color: rgba(0, 0, 0, 0);

}
.carousel-container {
  position: absolute;
  width: 640px;
  height: 360px;
  overflow: hidden;
  background: black;
  border-radius: 25px;
}

.carousel-video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: none;
}

.carousel-video.active {
  display: block;
}

.carousel-controls {
  position: absolute;
  bottom: 10px;
  left: 10%;
  transform: translateX(-50%);
}

.carousel-controls button {
  margin: 0 2px;
  padding: 4px ;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  font-size: 40px;
  color: #acacac;
  background-image: linear-gradient(9deg, #707070, #000000);
}
.view9--container1 p{
  position: absolute;
  top: 350px;
  font-family: 'vivoSans-regular';
  font-size: 20px;
  color: #acacac;
}

.view10--container1{
  position: absolute;
  display: flex;
  width: 100%;
  top: 10%;
  left: -150px;
  z-index: 4;
}
.view10--container1 h1{
  font-family: 'vivoSans-bold';
  font-size: 60px;
  top: -50px;
  background-clip: text;
  background-image: linear-gradient(90deg, #ff6b01, #ee01ff,#417aff);
  color: rgba(0, 0, 0, 0);
  position: absolute;
}
.view10--container1 img{
  top: 100px;
  margin-right: 30px;
  position: relative;
}
.view10-img1{
  width: 80px;
}
.view10-img2{
  width: 150px;
}
.view10-img3{
  width: 150px;
}
.view10--container2{
  position: absolute;
  display: flex;
  width: 1000px;
  top: 25%;
  left: -150px;
  z-index: 4;
}
.view10--container2 h1{
  position: absolute;
  font-family: 'vivoSans-bold';
  font-size: 60px;
  top: -10px;
}
.view10--container2 h2{
  position: absolute;
  font-family: 'vivoSans-bold';
  font-size: 40px;
  left: 0px;
}
.view10--container2 p{
  position: absolute;
  font-family: 'vivoSans-bold';
  font-size: 20px;
  left: 0px;
}
.view10--container2 svg{
  position: absolute;
  width: 50px;
  height: 50px;
  stroke-width: 2;
  stroke: url(#gradient); /* 用 SVG 自己定义的渐变 */
  fill: none;
}
.view10--content1 h2{
  top: 100px;
  left: -400px;
}
.view10--content1 p{
  top: 170px;
  left: -400px;
  width: 1000px;
}
.view10--content1 svg{
  top: 140px;
  left: -70px;
}
.view10--content2 h2{
  top: 190px;
  left: -400px;
}
.view10--content2 p{
  top: 260px;
  left: -400px;
  width: 1000px;
}
.view10--content2 svg{
  top: 230px;
  left: -90px;
}
.view10--content3 h2{
  top: 280px;
  left: -400px;
}
.view10--content3 p{
  top: 355px;
  left: -400px;
  width: 1000px;
  line-height: 1.3;
}
.view10--content3 svg{
  top: 320px;
  left: -110px;
}

.view11--container1{
  position: absolute;
  display: flex;
  width: 1000px;
  top: 25%;
  left: 1400px;
  z-index: 4;
}
.view11--container1 img{
  left: -100px;
  top: -50px;
  position: absolute;
  width: 750px;
}
.view11--container1 h1{
  top: 50px;
  position: absolute;
  font-family: 'vivoSans-bold';
  font-size: 60px;
}
.stretch-text {
  display: inline-block;
  font-size: 2rem;
  font-family: 'vivoSans-bold';
  color: #000000;
  transition: transform 0.5s ease;
}

.view11--container1 button{
  width: 50px;
  border-radius: 20px;
  border: 3px #000000 solid;
  margin-left: 10px;
  margin-right:  30px;
  transition: transform 0.5s ease;
}
.view11--container1 svg{
  transition: transform 0.5s ease;
  color: #000000;
}
.a1{
  position: absolute;
  top: 200px;
  transition: transform 0.5s ease;
}
.a1:hover .stretch-text{
  color: #415FFF;
  transform: scaleX(1.05) translateX(10px); 
  transition: transform 0.5s ease;
}
.a1:hover .view11-button1 {
  border: 3px #415FFF solid;
  transform: scale(1.2) translateX(13px); 
  transition: transform 0.5s ease;
}
.a1:hover svg{
  color: #415FFF;
  transform: scaleX(1.05) translateX(10px); 
  transition: transform 0.5s ease;
}

.a2{
  position: absolute;
  top: 200px;
  left: 230px;
  transition: transform 0.5s ease;
}
.a2:hover .stretch-text{
  color: #415FFF;
  transform: scaleX(1.05) translateX(10px); 
  transition: transform 0.5s ease;
}
.a2:hover .view11-button2 {
  border: 3px #415FFF solid;
  transform: scale(1.2) translateX(13px); 
  transition: transform 0.5s ease;
}
.a2:hover svg{
  color: #415FFF;
  transform: scaleX(1.05) translateX(10px); 
  transition: transform 0.5s ease;
}

.back-to-top {
  position: fixed;
  bottom: 40px;
  right: 80px;
  width: 60px;
  height: 60px;
  border: 2px solid #333;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0;
  pointer-events: none;
}

.back-to-top.show {
  opacity: 1;
  pointer-events: auto;
}

.back-to-top:hover {
  transform: scale(1.1);
}

.lottie-icon {
  width: 40px;
  height: 40px;
}



/* background */
.background {
  position: absolute; 
  top: 0;
  left: 0;
  z-index: -100;
}
.view1{
  align-items: center;
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.view1 h1{
  margin-left: -200px;
  margin-top: 800px;
  font-family: 'vivoSans-bold';
  font-size: 800px;
  color: transparent; /* 字体内部透明 */
  -webkit-text-stroke: 2px #acacac; 
}


.view2{
  top: 100vh;
  align-items: center;
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: -100;
}
.view2 h1{
  margin-left: -150px;
  margin-top: 800px;
  font-family: 'vivoSans-bold';
  font-size: 800px;
  color: transparent; /* 字体内部透明 */
  -webkit-text-stroke: 2px #415eff6d; 
}

.view3{
  top: 200vh;
  align-items: center;
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: -100;
}
.view3 h1{
  margin-left: -300px;
  margin-top: 500px;
  font-family: 'vivoSans-bold';
  font-size: 600px;
  color: transparent; /* 字体内部透明 */
  -webkit-text-stroke: 2px #acacac; 
}

.view7{
  position: absolute;
  top: 600vh;
  align-items: center;
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: -100;
}
.view7 h1{
  margin-left: -200px;
  margin-top: 500px;
  font-family: 'vivoSans-bold';
  font-size: 600px;
  color: transparent; /* 字体内部透明 */
  -webkit-text-stroke: 2px #415eff6d; 
}

.view8{
  position: absolute;
  top: 700vh;
  align-items: center;
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: -100;
}
.view8 h1{
  margin-left: -40px;
  margin-top: 550px;
  font-family: 'vivoSans-bold';
  font-size: 600px;
  color: transparent; /* 字体内部透明 */
  -webkit-text-stroke: 2px #415eff6d; 
}

.view9{
  position: absolute;
  top: 800vh;
  align-items: center;
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: -100;
}
.view9 h1{
  justify-content: center;
  margin-left: -300px;
  margin-top: 550px;
  font-family: 'vivoSans-bold';
  font-size: 600px;
  color: transparent; /* 字体内部透明 */
  -webkit-text-stroke: 2px #acacac84; 
}

.view10{
  position: absolute;
  top: 900vh;
  align-items: center;
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: -100;
}
.view10 h1{
  justify-content: center;
  margin-left: -300px;
  margin-top: 550px;
  font-family: 'vivoSans-bold';
  font-size: 600px;
  color: transparent; /* 字体内部透明 */
  -webkit-text-stroke: 2px #415eff6d; 
}

.view11{
  position: absolute;
  top: 1000vh;
  align-items: center;
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: -100;
}
.view11 h1{
  justify-content: center;
  margin-left: -300px;
  margin-top: 550px;
  font-family: 'vivoSans-bold';
  font-size: 600px;
  color: transparent; /* 字体内部透明 */
  -webkit-text-stroke: 2px #415eff6d; 
}


#webgi-canvas {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  touch-action: none;
  /* pointer-events: none; */
}

#webgi-canvas-container{
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  position:fixed;
  z-index: 0;
}
